

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

  
#guess {
   display: none;
   fadeIn: fast;
  }



.fa-home {
  color: white;
margin-left: 93vw;
margin-top: 3vh;
 position: absolute;
}

a:hover {
  color: gray;
}


